{% extends 'core/base.html' %}
{% block content %}
<h2>Temas Cadastrados</h2>
<a href="{% url 'cadastrar_tema' %}" class="btn btn-success mb-2">Novo Tema</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Título</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for tema in temas %}
        <tr>
            <td>{{ tema.titulo }}</td>
            <td>{{ tema.data_apresentacao }}</td>
            <td>{{ tema.horario_inicio }} - {{ tema.horario_fim }}</td>
            <td>
                <a href="{% url 'distribuir_grupos' tema.id %}" class="btn btn-primary btn-sm">Distribuir Grupos</a>
                <a href="{% url 'deletar_tema' tema.id %}" class="btn btn-danger btn-sm"
                    onclick="return confirm('Tem certeza que deseja excluir este tema?');">Excluir</a>
                <a href="{% url 'listar_grupos' tema.id %}" class="btn btn-sm btn-primary">Ver Grupos</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
